.excel-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
}

.form-excel-title {
    text-align: center;
    margin-bottom: 3%;
}

.italic {
    font-style: italic;
}

.back-button {
    text-align: center;
}
 
.back-button :hover {
    color: white;
}

.excel-div {
    text-align: center;
}

.excel-card {
    width: 60%;
}

.question-excel {
    width: 30px;
    transition: transform 0.5s; 
    float: right;
    margin-right: 1%;
    margin-top: 1.2%;
}

.question-excel:hover {
    transform: scale(1.2);
}

.question-modal-excel {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    top: 5vh;
    text-align: center;
}

.question-modal-excel h5 {
    font-weight: bold;
}

.question-modal-excel img {
    width: 600px;
}

@media (max-width: 820px) {
    .question-modal-excel img {
        width: 100%;
    }
}
