.side-drawer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    margin-top: 9vh;
    height: 70vh;
    width: 100%;
    background: rgb(31, 30, 30);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  