.user-item {
    margin-bottom: 10px;
}

.user-item-card {
    width: 500px;  
    background-color: #ECF0F7; 
}

.user-item p {
    margin: 0;
    text-align: left;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.user-name {
    font-weight: bold;
}

.user-firstname {
    font-weight: bold;
}

.user-modify {
    float: right;
    width: 25px;
    transition: transform 0.5s;
}

.user-modify:hover {
    transform: scale(1.2);
}

.user-delete {
    float: right;
    width: 25px;
    transition: transform 0.5s;
}

.user-delete:hover {
    transform: scale(1.2);
}

.user-item__modal-actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
}

.full-info-user {
    display: inline;
}

.full-info-user-elem {
    display: flex;
}

.full-info-user-elem-title {
    font-weight: bold;
}

.seemore {
    color: #628699;
    text-decoration: none;
    font-style: italic;
    border: none;
    background-color: #ECF0F7;
  }
  
  .seemore:hover {
    color: black;
  }
  
  

@media (max-width: 820px) {
    .user-item {
        margin-left: 0%;
    }

    .center {
        margin: 0;
        width: 92%;
        padding: auto;
    }
}