.red-plus-add-event {
    width: 40px;
    margin-left: 3%;
    transition: transform 0.5s; 
    margin-top: 1%;
    position: absolute;
    z-index: 1;
}
  
.red-plus-add-event:hover {
    transform: scale(1.2);
}

.back-button {
    text-align: center;
  }
 
.back-button :hover {
   color: white;
  }

.event-form {
list-style: none;
margin: 0 auto;
padding: 1rem;
width: 90%;
max-width: 40rem;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
border-radius: 6px;
background: white;
}

.form-event-title {
text-align: center;
}