.announcements-title {
    text-align: center;
    padding: 1%;
    background-color: #ECF0F7;
}

.announcements-list {
    list-style-type: none;
    margin-right: 4%;
}

.announcements-card {
    width: 50%;
    margin-left: 25%;
}

.center {
    text-align: center;
}

.back-button {
    text-align: center;
}
 
.back-button :hover {
   color: white;
}

.announcements-list h6 {
    float: right;
    color: #628699;
}


.announcements-list h4 {
    white-space: nowrap;
}


@media (max-width: 820px) {
    .announcements-card {
        width: 100%;
        margin-left: 0%;
    }

    .announcements-list {
        margin-right: 8%;
    }
}