.cardUIElem.auth-card {
    width: 90%;
    max-width: 25rem;
    margin: 3rem auto;
    text-align: center;
    border-radius: 0%;
}
  
.auth-card form {
    margin-bottom: 1rem;
}

.auth-title {
    margin-top: 150px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
