.cardUIElem.auth-card {
    width: 90%;
    max-width: 25rem;
    margin: 3rem auto;
    text-align: center;
    border-radius: 0%;
}
  
.auth-card form {
    margin-bottom: 1rem;
}

.auth-title {
    margin-top: 150px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.question-auth {
    width: 3%;
    position: fixed;
    transition: transform 0.5s;
    margin-left: 1%;
}

.question-auth:hover {
    transform: scale(1.2);
}

.question-modal {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
}


@media (max-width: 820px) {
    .question-auth {
        display: none;
    }
}