.personnal-calendar-Card-div {
    margin: 0% 2% 2% 2%;
}

.personnal-calendar-div {
    text-align: center;
}

.full-info-event {
    display: inline;
}

.full-info-event-elem {
    display: flex;
}

.full-info-event-elem-title {
    font-weight: bold;
}


