.portal-img-div {
    align-items: center;
    width: 100%;
    animation: PortalfadeInAnimation1 ease 2s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
}

@keyframes PortalfadeInAnimation1 { 
    0% { 
    opacity: 0; 
    margin-top: -10%;
    } 
    100% { 
    opacity: 1; 
    } 
} 


.portal-img-div img {
    width: 550px;
    top: 0;
    margin-right: 3%;
}


.school-title {
    color: white;
    font-size: 23px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.portal {
    text-align: center;
    background-color: rgb(31, 30, 30);
    position:absolute;
    top: 0;
    bottom: 0;
}


.portal-GH {
    margin: 5%;
    border: none;
}


.portal-GH a {
    background-color: rgb(31, 30, 30);
}


.portal-Moxhe {
    margin: 5%;
}

.portal-Moxhe a {
    background-color: rgb(31, 30, 30);
}

.txt-GH {
    background-color: rgb(31, 30, 30);
    width:50%;
}

.txt-Moxhe {
    background-color: rgb(31, 30, 30);
    width: 29%;
}


.animated-portal-div {
  background-color: rgb(31, 30, 30);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 85%;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 7%;
  animation: PortalfadeInAnimation2 ease 2s; 
  animation-fill-mode: forwards; 
  animation-iteration-count: 1; 
}

@keyframes PortalfadeInAnimation2 { 
    0% { 
    opacity: 0; 
    margin-top: -80%;
    } 
    100% { 
    opacity: 1; 
    } 
} 



.animated-portal-div span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.animated-portal-div-GH span:after {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    content: 'Grand-Hallet  ';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}


.animated-portal-div-Moxhe span:after {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    content: 'Moxhe  ';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

/*
.animated-portal-div:hover span {
  padding-right: 25px;
  display: flex;
  opacity: 0.8;
}*/

.animated-portal-div:hover span {
    opacity: 0.8;
    display: flex;
}

.animated-portal-div:hover span:after {
  opacity: 1;   
  right: 0;
}


@media (min-width: 820px) {
    .portal-img-div {
        height: 0px;
    }
}


@media (max-width: 820px) {
    .txt-GH {
        width: 100%;
    }  
    .txt-Moxhe {
        width: 55%;
    } 

    .portal {
        height: 110%;
    }

    .portal-img {
        width: 100%;
    }

    .portal-img-div img {
        width: 100%;
        margin-bottom: 5%;
    }

    .animated-portal-div-Moxhe span:after {
        opacity: 1;
        content: 'Moxhe    ';
    }

    .animated-portal-div-GH span:after {
        opacity: 1;
        content: 'Grand-Hallet    ';
    }
}

