.showcase_footer {
    background-color: #ECF0F7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase_footer a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-Hannut__logo {
    margin: 2%;
}

.info-center {
    margin: 2%;
    margin-left: 20%;
    margin-right: 10%;
    text-align: center;
}

.rs-right {
    margin: 2%;
    text-align: center;
}

@media (max-width: 768px) {
.showcase_footer {
    flex-direction: column;
}
}