.showcase_footer {
    background-color: #ECF0F7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase_footer a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-Hannut__logo {
    width: 33%;
    margin: 2%;
    text-align: center;
}

.info-center {
    width: 33%;
    margin: 2%;
    text-align: center;
}

.rs-right {
    width: 33%;
    margin: 2%;
    text-align: center;
}

.legal-notice {
    color: white;
}

.legal-notice-div {
    background-color: rgb(30, 30, 31);
    height: 80px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 25px;
    color: white;
}

.end-footer-div {
    background-color: #ECF0F7;
    height: 50px;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 15px;
}

@media (max-width: 820px) {
.showcase_footer {
    flex-direction: column;
}

.footer-Hannut__logo {
    width: 100%;
}

.info-center {
    width: 100%;
}

.rs-right {
    width: 100%;
}
}