.global-calendar-Card-div {
    text-align: center;
    margin: 5.5% 2% 2% 2%;
}

.global-agenda-title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.full-info-event {
    display: inline;
}

.full-info-event-elem {
    display: flex;
}

.full-info-event-elem-title {
    font-weight: bold;
}

.event-delete {
    float: right;
    width: 25px;
    transition: transform 0.5s;
}

.event-delete:hover {
    transform: scale(1.2);
}

.event-modify {
    float: right;
    width: 25px;
    transition: transform 0.5s;
}

.event-modify:hover {
    transform: scale(1.2);
}

.event-item__modal-actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
}
