.caroussel-div  img {
    height: 500px;
}

.caroussel-div {
    width: 50%;
    padding: 3%;
    display: inline-block;
}


.cardUIElem.home-card-div {
    display: inline-block;
    width: 46%;
    height: 500px;
    padding: 3%;
    border-radius: 0;
    overflow: auto;
}

.cardUIElem.home-card-div a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.news-link {
    text-align: center;
}

.news-link :hover {
    color: white;
}

.home-youtube-video {
    width: 1000px;
    height: 600px;
    padding: 3%;
}

.home-youtube-video-div {
    text-align: center;
    background-color: rgb(30, 30, 31);
}


@media (max-width: 728px) {
.caroussel-div {
    width: 8%;
    display: inline;
}

.caroussel-div img {
    height: 300px;
}

.cardUIElem.home-card-div {
    width: 91%;
    margin: 2%;
    height: 100%;
}

.home-youtube-video {
    width: 95%;
    height: 300px;
    margin: 2%;
}


}