.news-item {
  margin: 1rem;
  width: calc(30%);
  min-width: 17.5rem;
  margin-right: 1%;
  margin-left: 1%;
}


.news-item a:hover,
.news-item a:active {
  background: #628699;
}

.cardUIElem.news-item__content {
  height: 100%;
  background-color: #ECF0F7;
  border-radius: 0%;
  border: none;
  border-color: #1F1E1E;
  box-shadow: none;
  padding: 0px;
}

.news-item__image {
  width: 500px;
  height: 300px;
  transition: transform 0.5s;
  margin-bottom: 2%;
}

.news-item__image:hover {
  transform: scale(1.03);
}



.news-item__info h2 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  padding: 2%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.news-item__info h3 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #1F1E1E;
  padding: 2%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 65px;
}

.seemore {
  color: #628699;
  text-decoration: none;
  font-style: italic;
  border: none;
  background-color: #ECF0F7;
}

.seemore:hover {
  color: black;
}


.news-date {
  float: right;
  color: #628699;
}

.news-title {
  border-left: solid #628699;
}

.update-news-link {
  color: red;
  text-decoration: none;
  font-style: italic;
  border: none;
  margin-left: 1%;
}

.update-news-link:hover {
  color: white;
  padding: 1%
}

.delete-news-link {
  color: red;
  text-decoration: none;
  font-style: italic;
  border: none;
  float: right;
  margin-right: 1%;
}

.delete-news-link:hover {
  color: white;
  background-color: #628699;
}

.news-item__modal-actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.modal-description-div {
  word-wrap: break-word;
}

.modal-description {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.15rem;
}


@media (max-width: 820px) {
  .news-item {
    width: 100%;
  }
  .news-item__image {
    height: 270px;
    width: 100%;
  }

  .modal-description {
    font-size: 1rem;
  }
}
