.project-main-div {
    background-color: #ECF0F7;
    padding: 1%;
    margin: 5.5% 2% 2% 2%;
}

.project-main-title {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2%;
    background-color: rgb(31, 30, 30);
    font-style: italic;
    color: #ECF0F7;
}

.project-div {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    color: #628699;
}

.project-pdf-img {
    width: 20px;
}

.project-description {
    margin-top: 1%;
    color: black
}

@media (max-width: 1300px) {
    .project-main-title {
        margin-bottom: 5%;
    }

    .project-div {
        margin-bottom: 5%;
    }
}