.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #628699;
  border-radius: 4px;
  background: #628699;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:hover,
.button:active {
  opacity: 0.8;
}
