.red-plus-add-announcement {
    width: 40px;
    transition: transform 0.5s; 
    z-index: 1;
    float: right;
}
  
.red-plus-add-announcement:hover {
    transform: scale(1.2);
}

.back-button {
    text-align: center;
}
 
.back-button :hover {
color: white;
}

.announcement-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }

.form-announcement-title {
text-align: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.announcements-class-title {
    color: red;
    text-align: left;
}

.announcements-change-class {
    text-align: left;
    color: #628699;
}

.announcements-change-class a {
    color: #628699;
    text-decoration: underline;
}

.announcements-change-class a:hover {
    color: #628699;
    opacity: 0.7;
}

.announcement-modify {
    width: 25px;
    transition: transform 0.5s;
    float: right;
}

.announcement-modify:hover {
    transform: scale(1.2);
}

.announcement-delete {
    width: 25px;
    transition: transform 0.5s;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}

.announcement-delete:hover {
    transform: scale(1.2);
}

.announcement-item__modal-actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
}

.announcement-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }

  .form-announcement-title {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }