.news-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }

  .form-news-title {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

 .red-plus-add-news {
  width: 40px;
  margin-left: 1%;
  transition: transform 0.5s; 
  margin-top: 0.4%;
  position: fixed;
  z-index: 1;
 }

 .red-plus-add-news:hover {
    transform: scale(1.2);
 }

 .back-button {
   text-align: center;
 }

 .back-button :hover {
  color: white;
 }