.portal {
    text-align: center;
}

.portal-GH {
    margin: 5%;
}

.portal-Moxhe {
    margin: 5%;
}

.txt-GH {
    max-width: 100%;
}

.txt-Moxhe {
    max-width: 54%;
}

.txt-GH:hover {
    opacity: 0.8;
}

.txt-Moxhe:hover {
    opacity: 0.8;
}