html {
    background-color: rgb(31, 30, 30);
}


.portal-img-div {
    align-items: center;
    width: 100%;
}

.portal-img {
    width: 100%;
    top: 0;
    margin-right: 3%;
}

@media (min-width: 768px) {
    .portal-img {
        width: 40%;
    }
}

.portal {
    text-align: center;
    background-color: rgb(31, 30, 30);
    margin-bottom: 5%;
    position:absolute;
    top: 0;
}


.portal-GH {
    margin: 5%;
    border: none;
}


.portal-GH a {
    background-color: rgb(31, 30, 30);
}


.portal-Moxhe {
    margin: 5%;
}

.portal-Moxhe a {
    background-color: rgb(31, 30, 30);
}

.txt-GH {
    background-color: rgb(31, 30, 30);
    width:50%;
}

.txt-Moxhe {
    background-color: rgb(31, 30, 30);
    width: 29%;
}

@media (max-width: 768px) {
    .txt-GH {
        width: 100%;
    }  
    .txt-Moxhe {
        width: 55%;
    } 
}




.animated-portal-div {
  background-color: rgb(31, 30, 30);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 95%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.animated-portal-div span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.animated-portal-div span:after {
  content: '▀▀';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.animated-portal-div:hover span {
  padding-right: 25px;
  display: flex;
}

.animated-portal-div:hover span:after {
  opacity: 1;   
  right: 0;
}
